.formContainer{
    min-width: 40%;
    min-height: 20vh;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.281);
    background-color: #ffffff;
    padding: 2rem 4rem;
    margin-bottom: 16rem;
}

.form input{
    width: 50%;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.form input:not(input[type="submit"]){
    border: 1px solid #00000026;
}

.form input:not(input[type="submit"]):focus{
    outline: 1px solid #3b82f6;;
}