.itemContainer{
    background-color: white;
    padding-right: 2em;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    outline: 1px solid #80808038;
    height: 12em;
    position: relative;
}

.itemImage{
    margin: 0 2em;
    width: 12em;
    height: 90%;
}

.itemText{
    height: 100%;
    width: 80%;
    display: flex;
    flex-flow: column nowrap;
}

.imgFit{
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center center;
    
}

.corazon{
    position: absolute;
    top: 0.5em;
    right: 1em;
}