.listaCantidades{
    list-style-type: none;
    width: 8em;
    box-shadow: 0 0 10px 0 #80808043;
    border-radius: 5px;
    overflow: hidden;
}

.itemList{
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    transition: 0.1s;
}

.itemList:hover{
    background-color: #e9e9e9;
}